@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');
:root {
  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--verydarkbluebg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --darkblue: hsl(209, 23%, 22%);/*Dark Mode Elements*/
  --verydarkbluebg: hsl(207, 26%, 17%);/*Dark Mode Background*/
  --verydarkbluetext: hsl(200, 15%, 8%);/*Light Mode Text*/
  --darkgrey: hsl(0, 0%, 52%);/*Light Mode Input*/
  --verylightgray: hsl(0, 0%, 98%); /*Light Mode Background*/
  --white: hsl(0,0%, 100%);/*Dark Mode Text & Light Mode Elements*/
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: 'Nunito Sans', sans-serif;  
}

nav{
  height: 10svh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: var(--darkblue);
  font-weight: 800;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;  
}
nav span{
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  transition: .2s ease-in-out all;
}
nav span:hover{
  cursor: pointer;
  opacity: 70%;
}
.change-theme{
  margin-right: 10px;
}

/*==================MAIN==================*/
main{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.sort{
  display: flex;
  justify-content: space-between;
  width: 80svw;
  /* background-color: red; */
  margin-top: 2%;
  position: relative;
}
input, select{
  height: 60px;
  width: 180px;
  border-radius: 5px;
  border: none;
  background-color: var(--darkblue);
  color: var(--white);
  background-color: var(--darkblue);
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
input{
  width: 550px;
  padding-left: 80px;
}
select{
  padding: 0 20px 0 20px;
  transition: .2s ease-in-out all;
  
}
select:hover{
  cursor: pointer;
  filter:brightness(95%);

}
select option{
  height: 100px;
}
input::placeholder{
  color: var(--white);
  font-family: 'Nunito Sans', sans-serif;  
}
.search-icon{
  position: absolute;
  left: 40px;
  top: 20px;
}


.countries{
  width: 80svw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px 85px;
  margin-top: 2%;

}
.country{
  height: 40svh;
  background-color: var(--darkblue);
  border-radius: 5px;
  transition: .2s ease-in-out all;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.country:hover{
  cursor: pointer;
  filter:brightness(85%);
}
.country img{
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.information{
  width: 100%; 
  font-size: 14px; 
  padding: 12px 0 0 22px;
}
.information p:first-child{
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
}
.information p:not(p:first-child){
  margin-bottom: 3px;
  text-decoration: none;

}
.country-link{
  text-decoration: none;
}

/*==============COUNTRY PAGE===============*/
button{
  width: 150px;
  height: 50px;
  background-color: var(--darkblue);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .2s ease-in-out all;
}
button span{
  margin-left: 5px;
}
button:hover{
  cursor: pointer;
}
.country-info{
  width: 80svw;
  height: 50svh;
  margin-top: 2%;
  /* background-color: red; */
  display: flex;
}
.country-info img{
  height: 100%;
  width: 50%;
}
.country-details{
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
}

.details{
  display: flex;
  width: 100%;
  height: 80%;
  align-items: center;
}
.left-details{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
}
.left-details p:first-child{
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}
.right-details{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  /* background-color: orange; */
}
.border-countries{
  width: 100%;
  height: 20%;
  text-align: center;
  /* background-color: blueviolet; */
}
.border-countries span{
  display: flex;
}
.border-countires-amount{
  width: 63%;
  display: flex;
}


/*============LOADER=============*/
.container-loader{
  position: absolute;
  top: 40%;
  left: 50%;
  display: flex;
  width: 70px;
  height: 70px ;
  justify-content: space-around;
  /* background-color: blue; */
  flex-wrap: wrap;
}
.container-loader .circle{
  width: 2px;
  height: 20px;
  /* background-color: var(--white); */
  /* border-radius: 100%; */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: relative;
}

.container-loader .circle-shadow{
  width: 20px;
  height: 20px;
  background-color: #ababab;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container-loader .circle-shadow:not(:nth-child(5)){
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.circle-shadow:nth-child(2){
  animation-delay: 0.2s;
}
.circle-shadow:nth-child(3){
  animation-delay: 0.3s;
}
.circle-shadow:nth-child(6){
  animation-delay: 0.4s;
}
.circle-shadow:nth-child(9){
  animation-delay: 0.5s;
}
.circle-shadow:nth-child(8){
  animation-delay: 0.6s;
}
.circle-shadow:nth-child(7){
  animation-delay: 0.7s;
}
.circle-shadow:nth-child(4){
  animation-delay: 0.8s;
}

.container-loader .circle-shadow:nth-child(1),
.circle-shadow:nth-child(2),
.circle-shadow:nth-child(3){
  background-color: #ababab;
}

.container-loader .circle-shadow:nth-child(5){
  background-color: var(--verydarkbluebg);
}


@keyframes example {
  0%   {background-color: var(--white);}
  100%  {background-color: var(--darkblue);}
}





/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
